# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Flask specific
instance/
.webassets-cache

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Pytest
.cache/
pytest_cache/

# Miscellaneous
*.DS_Store
*.egg-info/
dist/
build/